<h3>Last posts:<h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Post</th>
      <th scope="col">Date</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |row|%>
      <tr>
        <th scope="row"><%= row['id'] %></th>
        <td><%= row['content'] %></td>
        <td><%=row['created_date'] %></td>
        <td><a href="/details/<%= row['id'] %>">Comments</a></td>
      </tr>
    <% end %>
  </tbody>
</table>