<h2>Add new post</h2> 

<p><form action="/new" method="POST">
  <div class="form-group">
    <textarea class="form-control" rows="5" name="content"></textarea>
  </div>
  <button type="submit" class="btn btn-warning btn-lg">Submit</button>
</form></p>

<p><%= @content %></p>